    <footer class="footer">
    <div class="region region-footer well well-lg container">
    <section class="block block-multiblock clearfix" id="block-multiblock-2">

</section> <!-- /.block -->
<section class="block block-system block-menu clearfix" id="block-system-main-menu">

      
  <ul class="menu nav"><li class="first leaf"><a href="http://www.data.ug/">Home</a></li>
<li class="leaf"><a title="Datasets for Data.Ug" href="http://catalog.data.ug">Datasets</a></li>
<li class="leaf"><a title="Maps for Data.Ug" href="http://maps.data.ug">Maps</a></li>
<li class="leaf"><a title="Community" href="http://forum.data.ug">Community</a></li>


<!--
<li class="expanded dropdown"><a data-toggle="dropdown" class="dropdown-toggle" data-target="#" title="Maps on Data.Ug" href="http://maps.data.ug">Maps <span class="caret"></span></a><ul class="dropdown-menu"><li class="first leaf"><a title="Map layers about Uganda" href="http://maps.data.ug">Layers</a></li>
<li class="last leaf"><a title="Map Publishers" href="http://maps.data.ug/people">People</a></li>
</ul></li>

-->

<!--
<li class="leaf active-trail active"><a class="active-trail active" title="All documentation about Data.Ug" href="http://www.data.ug/book">Documentation</a></li> 
-->
<li class="last leaf"><a title="News Items" href="http://www.data.ug/blog">Blog
</a></li>
</ul>

</section> <!-- /.block -->
<section class="block block-menu clearfix" id="block-menu-menu-content">


<!--
  <li class="last leaf"><a title="Login to CKAN" href="http://catalog.data.ug/user/login">Login</a></li>
-->

</section> <!-- /.block -->
<section class="block block-menu clearfix" id="block-menu-menu-social-media">
 
  <ul class="menu nav">

<li class="first leaf"><a title="Follow us on Facebook" href="https://www.facebook.com/datadotug"> <span class="fa fa-facebook fa-lg"></span>&nbsp;Facebook</a></li>
<li class="last leaf"><a title="Follow us on Twitter" href="http://www.twitter.com/datadotug"><span class="fa fa-twitter fa-lg"></span>&nbsp;Twitter</a></li>
</li>
<li class="last leaf"><a title="Follow us on Github" href="https://github.com/DataDotUG"><span class="icon-github fa-lg"></span>&nbsp;Github</a></li>
</ul>
</section> <!-- /.block -->
<section class="block block-system clearfix" id="block-system-powered-by">

  <span>Powered by <a href='http://www.roundup-tracker.org/'>{{ i18n.gettext('Roundup') }}</a></span>
</section> <!-- /.block -->

  </div>


</footer>  
<!-- SHA: 5647bf31981b7f9af8e9f0acbde9ac80d94fcda7 -->
