<!doctype html>
  <head>


    <title>{% block head_title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="@@file/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="@@file/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="@@file/style.css">


    <link rel="stylesheet" type="text/css" href="@@file/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="@@file/site_base.css">
    <link rel="shortcut icon" href="@@file/favicon.png" type="image/png">
    {% block extracss %} {% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99330798-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>


  <body  >


    <div class="hide"><a href="#content">Skip to content</a></div>



    {% block navbar %}
      {% include 'layout/banner.html' %}
    {% endblock %}    

    <div role="main">
      <div id="content" class="container">


            <div class="flash-messages">



            </div>
            <div class="toolbar">
            </div>
          <div class="row wrapper no-nav">

    {% block page_content %}
      <div class='container-fluid'>
        <div class='row-fluid'>
          <div class='span3 navigation'>
            {% block leftnav %}
              {% include 'layout/navigation.html' %}
            {% endblock %}
          </div>

          <div class='span9'>
              <div class='page-header'>
                <h1> {% block page_header %} {% endblock %} </h1>
                {% if options.error_message %}
                  <p class='alert alert-block alert-error fade in'> 
                    {{ options.error_message }}
                    <button type='button' class='close' data-dismiss='alert'>X</button>
                  </p>
                {% endif %}
                {% if options.ok_message %}
                  <p class='alert alert-block alert-success fade in'> 
                    {{ options.ok_message }}
                    <button type='button' class='close' data-dismiss='alert'>X</button>
                  </p>
                {% endif %}
              </div>
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    {% endblock %}



          </div>

      </div>
    </div>


    {% block footer %}
      {% include 'layout/footer.html' %}
    {% endblock %}  

    <script src='@@file/jquery-1.9.0.min.js'></script>
    <script src='@@file/bootstrap.min.js'></script>
    {% block extrajs %} {% endblock %}
</body>
</html>
